<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReduXBDO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ReduXBDO.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Attack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Casting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Movement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MountSpeed" serializeAs="String">
                <value />
            </setting>
            <setting name="MountTurn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MountBreak" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MountAccel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Gathering" serializeAs="String">
                <value />
            </setting>
            <setting name="Critical" serializeAs="String">
                <value />
            </setting>
            <setting name="Fishing" serializeAs="String">
                <value />
            </setting>
            <setting name="Luck" serializeAs="String">
                <value />
            </setting>
        </ReduXBDO.Properties.Settings>
    </userSettings>
</configuration>